<html>
<head>
   <meta name="description" content="Nevin Allwood | Software Engineer">
   <meta name="keywords" content="">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/css/main.css">
   <title>Nevin Allwood | Software Engineer</title>

   <script type="text/javascript" src="{{ static_url("js/scripts.js") }}"></script>
</head>

<body>

  <div class="fullscreen_image">
    <div id="container_hello" class="hello_container">
        <div id="hello_text" class="hello_text">
          <h1>Hello, I'm Nevin Allwood.</h1>
          <h2>I develop software.</h2>
      </div>
      <div class="button page_down_button" onclick="scroll_to(navbar,600,0)"> Learn more about what I do <span><b>&rarr;</b></span></div>
    </div>
  </div>

  <div id="navbar_dummy">
    <div id="navbar">
      <div class="more_space_left"id="nav_about" onclick="scroll_to(about_container,600,1)" margin-left="30px">About</div>
      <div id="nav_projects" onclick="scroll_to(projects_container,600,1)">Projects</div>
      <div id="nav_contact" onclick="scroll_to(contact_container,600,1)">Contact</div>
    </div>
  </div>

  <div id="articles" class="articles">
    <div id="about_container" class="article_container">
      <div id="about_title" class="article_title">
        About Me
      </div>
      <article id="about_article" class="text_article">
        <div id="about_section" class="flex_row_start">
          <img class="picture" src="{{static_url("images/myface.JPG")}}" alt="Me">
          <div class="row_element">
            <ul class="no_bullet_list">
              <li class="about_listing">
                <span class="slightly_bigger"><b>Age:</b></span><span>22</span>
              </li>
              <li>
                <span class="slightly_bigger"><b>Location:</b></span><span>Essen, Germany</span>
              </li>
              <li>
                <span class="slightly_bigger"><b>Nationality:</b></span><span>german, american</span>
              </li>
            </ul>
            <p>I am a young aspiring software developer currently looking to gain experience and improve my skills. Available for hire. Will work for money. I like computers and food. </p>
          </div>
        </div>

        <h2 id="education_section" class="subsection_header">Education</h2>
        <div id="timeline_container" class="flex_row_center">
          <div id="left_timeline_button" class="button left_button disabled">
          </div>
          <div class="timeline">
            <ol>
              <li>
                <div id="school_element" class="time_element">
                  <div class="time_textbox">
                    <time>2013</time>
                    <p><span class="highlight">Abitur</span> at the <a class="link" href="http://www.lise-meitner-geldern.de/">Lise-Meiter-Gymnasium</a> in Geldern.<br>
                      Computer science as intensive course.</p>
                  </div>
                  <div class="half_arrow"></div>
                </div>
              </li>
              <li>
                <div id="bachelor_element" class="time_element">
                  <div class="time_textbox">
                    <time>2018</time>
                    <span class="highlight">Bachelor of Science</span> in <a class="link" href="https://www.uni-due.de/studienangebote/studiengang.php?id=3"> Systems Engineering</a> at the University of Duisburg-Essen.
                  </div>
                  <div class="half_arrow"></div>
                </div>
              </li>
              <li></li>
            </ol>
          </div>
          <div id="right_timeline_button" class="button right_button disabled">
          </div>
        </div>

        <h2 class ="subsection_header">Skills</h2>
        <div id="skills_container" class="grid_5_container"></div>

      </article>
    </div>

    <div id="projects_container" class="article_container">
      <article id="projects" class="text_article">
        <div id="projects_title" class="article_title">
          Projects
        </div>

        <div id="projects" class="grid_3_container">
          <div class="projects_element">
            <p class="projects_description">Android app that allows dish creation and sharing, automatic shopping list creation, and pantry management</p>
            <div class="button submit_button" onclick="scroll_to(navbar,600,0)">Learn more</div>
            <img id="dishlist_image" class="projects_image" src="{{static_url("images/myface.JPG")}}" alt="Dishlist">
          </div>

          <!>TODO draw preview images and embed here, also finish button styling <!>
          <div class="projects_element">
            <p class="projects_description"><span class="intext_title">Dishlist</span> <br>Android app that allows dish creation and sharing, automatic shopping list creation, and pantry management</p>
            <img id="dishlist_image" class="projects_image" src="{{static_url("images/myface.JPG")}}" alt="Dishlist">
          </div>

          <div class="projects_element">
            <p class="projects_description"><span class="intext_title">Dishlist</span> <br>Android app that allows dish creation and sharing, automatic shopping list creation, and pantry management</p>
            <img id="dishlist_image" class="projects_image" src="{{static_url("images/myface.JPG")}}" alt="Dishlist">
          </div>

          <div class="projects_element">
            <p class="projects_description"><span class="intext_title">Dishlist</span> <br>Android app that allows dish creation and sharing, automatic shopping list creation, and pantry management</p>
            <img id="dishlist_image" class="projects_image" src="{{static_url("images/myface.JPG")}}" alt="Dishlist">
          </div>

        </div>

      </article>
    </div>
    <div id="contact_container" class="article_container">
      <article id="contact" class="text_article">
        <div id="contact_title" class="article_title">
          Contact
        </div>
        <p>Want to get in contact?<br>
          just send me an email at <span>nevinallwood@gmail.com</span><br>
          or use this handy form:</p>

          <div class="contact_form_container">
           <form action="">

             <label for="fname">First Name</label>
             <input type="text" id="fname" name="firstname" placeholder="Your name..">

             <label for="lname">Last Name</label>
             <input type="text" id="lname" name="lastname" placeholder="Your last name..">

             <label for="email">Email Address</label>
             <input type="email" id="email" name="emailaddress" placeholder="Your email address..">

             <label for="subject">Subject</label>
             <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

             <div id="submit_button" class="button submit_button" onclick="submit_contact_info()">Submit</div>

           </form>
          </div>
      </article>
    </div>

  </div>


  <script>
  init_eventlist();
  render_skills();
   window.onscroll = update_view;
  </script>

</body>
</html>
