<html>
<head>
   <meta name="description" content="Nevin Allwood | Software Engineer">
   <meta name="keywords" content="">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/css/main.css">
   <title>Nevin Allwood | Software Engineer</title>

   <script type="text/javascript" src="{{ static_url("js/scripts.js") }}"></script>
</head>

<body>

  <div class="fullscreen_image">
    <div id="container_hello" class="hello_container">
        <div id="hello_text" class="hello_text">
          <h1>Hi, I'm Nevin Allwood</h1>
          <h2>Software Engineer</h2>
      </div>
      <div class="button" onclick="scroll_to(navbar,600)"> Learn more about what I do <span><b>&rarr;</b></span></div>
      <div id="hello_page_down" class="simple_navigator" onclick="scroll_to(navbar,600)">
        Learn more about what I do <br><b><i class="down"></i></b>
      </div>
    </div>
  </div>

  <div id="navbar">
    <div id="nav_about" onclick="scroll_to(about,600)">About</div>
    <div id="nav_projects" onclick="scroll_to(projects,600)">Projects</div>
    <div id="nav_contact" onclick="scroll_to(contact,600)">Contact</div>
  </div>

  <div id="articles" class="articles">
    <div class="article_container">
      <article id="about" class="text_article">
        <div id="about_title" class="article_title">
          About Me
        </div>
        <p> This will be the about me article </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </article>
    </div>
    <div class="article_container">
      <article id="projects" class="text_article">
        <p> this will be the projects article </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </article>
    </div>
    <div class="article_container">
      <article id="contact" class="text_article">
        <p> This will be the contact article </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </article>
    </div>

  </div>


  <script>
   window.onscroll = function() {update_navbar()};
  </script>

</body>
</html>
